@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&family=Vujahday+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .content h1,h3{
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
    padding: 3px;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 80px;
    background-blend-mode: normal;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2vw;
    font-family: "Poppins", sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: #fff ;
    font-size: 2vh;
}
.content h1,h3{
    font-size: 6vh;
    font-weight: 600;
    align-items: center;
    transition: 0.3s;
    color: white;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content h3:hover{
    -webkit-text-stroke: 2px #fc0404;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    color: #fff;
    padding: 14px 70px;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: 0.3s;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.content a:hover{
    background-color: #fff;
    color: black;
}
.backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
@media (max-aspect-ratio: 16/9) {
    .backvideo {
        width: auto;
        height: 100%;
    }
    
}
@media (min-aspect-ratio: 16/9) {
    .backvideo {
        width: 100%;
        height: auto;
    }
    
}

.legacy{
    display: flex;
    justify-content: space-around;
    background-image: url(ASSET/I/backiee-265661-landscape.jpg); 
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    
}
.legacytext{
    padding: 5vw;
}
.legacytext h2{
    text-shadow: none;
    text-align: center;
    font-family: "Vujahday Script", cursive;
    font-weight: 900;
    font-size: 35px;
    color: silver;
}
.legacytext h4{
    color: silver;
    margin-top: 22px;
    font-family: "Vujahday Script", cursive;
    font-weight: 400;
}
.legacyimg img {
    position: relative;
    height: 100px;
    top: 30px;
}


.body2{
    background-image: url(ASSET/I/—Pngtree—an\ old\ gym\ setting\ with_2667256.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-color: aqua;
    
}
.slider{
    position: relative;
    
}
.slider .wrapper{
    width: 70vw;
    height: 40vh;
    /* box-shadow: 5px 10px 10px; */
    margin: auto;
    overflow: hidden;
    padding: 6vh;
    
}
.slider .wrapper .wrapperholder{
    display: grid;
    grid-template-columns: repeat(4,100%);
    height: 100%;
    width: 100%;
    animation: sliders 10s ease-in-out infinite alternate ;
    
}
.slider #sliderimg1 {
    background-image: url(https://scontent.fvns2-1.fna.fbcdn.net/v/t1.6435-9/52825964_1961234767504809_7606931777558413312_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_ohc=k2SaJeM9YYoQ7kNvgFpZjjp&_nc_ht=scontent.fvns2-1.fna&oh=00_AYAyWRPWVqYe15SWu9QHU5AnfRXWF9QyN-dGQn5eKnEAMg&oe=66C02D45);
     background-position: center;
}
.slider #sliderimg2 {
    background-image: url(https://scontent.fvns2-1.fna.fbcdn.net/v/t1.18169-9/24993631_1742316659396622_4657720362555073449_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=7b2446&_nc_ohc=cCmzEWbeiLMQ7kNvgEGOy1a&_nc_ht=scontent.fvns2-1.fna&oh=00_AYDJFpU9QHAwEpq-NvEJUbpwc8v9cBRQaII2N7XlL2myLA&oe=66C01AEA);
     background-position: center;
}
.slider #sliderimg3 {
    background-image: url(https://scontent.fvns2-1.fna.fbcdn.net/v/t39.30808-6/292058307_551093160044311_4253159747702752383_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=BgWamZlFvmIQ7kNvgE_DBFz&_nc_ht=scontent.fvns2-1.fna&oh=00_AYAvzGd93ilWIlsbID-ARNSKgFU_zhaOo7i8TNyrO8SMOg&oe=669EB475);
     background-position: center;
}
.slider #sliderimg4 {
    background-image: url(https://scontent.fvns2-1.fna.fbcdn.net/v/t1.6435-9/52825964_1961234767504809_7606931777558413312_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7b2446&_nc_ohc=k2SaJeM9YYoQ7kNvgFpZjjp&_nc_ht=scontent.fvns2-1.fna&oh=00_AYAyWRPWVqYe15SWu9QHU5AnfRXWF9QyN-dGQn5eKnEAMg&oe=66C02D45);
      background-position: center;
}
.slider .buttonholder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;   
}
.slider .buttonholder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
@keyframes sliders {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}    
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}

.card{
    background-color: rgb(212, 208, 208);
    width: 198px; 
    border-radius: 7px;
    padding: 0 0 34px 0;
    margin: 4px;
    border: 2px solid rgb(82, 81, 81);
}

.image{
    padding: 5px;
}
.image img{
    border-radius: 7px;
}
.content{
    padding: 7px 13px; 
font-family: 'Poppins', sans-serif;
}

.content p{
    font-size: 12px;
    color: black;
}

.capsules{
    padding: 0 28px 0 14px;
}
.capsules span{
    border: 1px solid gray;
    padding: 0px 6px;
    border-radius: 7px;
    font-size: 8px;
    font-family: 'Baloo Bhai 2', sans-serif; 

}
.button{
    text-align: center;
}
.button button{
    padding: 7px 15px;
    border-radius: 15px;
    background-color: grey;
    color: rgb(246, 246, 247);
    font-size: 10px;
    margin-top: 7px;
    border: none;
    font-weight: bold;
}

.button button:hover{
    background-color: rgb(194, 225, 246);
    color: rgb(10, 136, 214);
}
.service{
    display: grid;
    background-image: url(ASSET/I/cast-iron-dumbbell-weights.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.franchise{
    width: 100%;
    height: 30vh;
    /* background: linear-gradient(#ffdad5, #fff7f9); */
    background-image: url(ASSET/I/—Pngtree—an\ old\ gym\ setting\ with_2667256.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.franchise a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    
}
.franchise img{
    size: 15px;
}

.map{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    background-color: rgb(160, 160, 156);
    padding: 3vh; */
}
