*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#ffdad5, #fff7f9);
    width: 100%;
    height: 100vh;
}
h2{
    padding: 15vw;
    padding-bottom: 0px;
}
img{
    padding-left: 15vw;
}


.franchise{
    width: 100%;
    height: 30vh;
    
}